@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.Arrière-Plan{
    background-image: url(../Images/mais.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    color: white;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    backdrop-filter: blur(10px);
}
.Header-Left{
    display: flex;
    align-items: center;
}
#Logo-Header{
    width: 25%;
    margin-left: 15px;
    margin-right: 15px;
}
.Header-Middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header-Middle a{
    color: white;
    font-size: 20px;
}
.Header-Right{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Barre-De-Recherche{
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 0px solid black;
    border-bottom: 3px solid white;
}
.Body{
    width: 75%;
    margin: auto;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Middle-Body{
    width: 65%;
    height: 80%;
    border: 2.5px solid white;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.Middle-Body h1{
    color: white;
    text-align: center;
    font-size: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.Middle-Body-Inside{
    width: 65%;
    height: 50%;
    border: 2.5px solid white;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}
.card img{
    width: 100%;
    border-radius: 20px;
}
.card p{
    color: white;
    text-align: center;
}
.Left input{
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.Right{
    padding-top: 10px;
    display: flex;
    color: white;
    justify-content: center;
}
.Footer-Middle{
    display: flex;
    justify-content: center;
    align-items: center;

}
.Footer-Middle h1{
    color: white;
    margin-bottom: 20px;
}
.Footer-Middle input{
    width: 75%;
    height: 50%;
    vertical-align: top;
    padding-bottom: 100px;
    padding-left: 15px;
}